body{
	background-image: url("clouds.gif");
	background-repeat: repeat;
	background-color:black;

}
pre{
	color:black;
	background-color:hotpink;
}
p{

	color: lime;
	background-color:hotpink;
	
		text-align: center; 
		text-decoration: none;
	
}
h1{
	color: hotpink;
	
	font-size: 50px;
}
a{ color: #ff0000; }
img{
	padding: 50px;
	border: 10px;
	border-color: chartreuse
	 }


	 a:link, a:visited {
		
		
	color: lime;
	background-color:hotpink;
		border-radius: 10px;
		padding: 14px 25px;
		text-align: center; 
		text-decoration: none;
		display: inline-block;
	  }
	  
	  a:hover, a:active {
		background-color: hotpink;
		color: yellow;
	  }
	  .work {
		display: inline-grid;
		grid-template-columns: 605px 605px;
		grid-template-rows: 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px;
		grid-gap: 10px;
	 
	  }
	  

	  .vid{

		display: grid;
		object-position: center;
		grid-template-columns: 605px 605px;
		grid-template-rows: 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px 605px;
		grid-gap: 10px;
	 
	
	
	
	
	  }
	  